body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#pokedex {
    min-height: 50vh;
    background-color: #FB6C6C;
    color: #fff;
    display: flex;
    padding: 24px;
    position: relative;
}

.info-container {
    background-color: #fff;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    min-height: 100px;
    margin-top: -40px;
}

button {
    background-color: transparent;
    border: none;


}

.btn-primary-popup {
    position: absolute;
    right: 10px;
    cursor: pointer;
}